.App {
  text-align: center;
}
.header {
  position: fixed;
  top: 20px;
  left: 30%;
}
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  width: 2800px;
  justify-content: space-evenly;
  margin-top: 230px;
  margin-left: 35%;
  animation: conveyor 10s forwards 0.5s linear infinite alternate-reverse;
}
@keyframes conveyor {
  0% {
    margin-left: 35%;
  }
  100% {
    margin-left: -150%;
  }
}

img {
  width: 200px;
}
